.screen {
    background-color: #fefefe;
    min-height: 50vh;
    min-width: 100%;
    overflow: hidden;
}

.pet {
    display: block;
    position: relative;
    min-height: 100%;
    min-width: 100%;
}

.pet img {
    position: absolute;
}
