.navigation {
    min-width: 100%;
}

.navigation .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    color: #fefefe;
    list-style: none;
}

.sub-menu {
    display: none;
}

.menu .menu-item.active .sub-menu {
    display: block;
}
